<div class="text-center mb-5">
  <h1>キャラクター一覧</h1>
  <div class="d-flex justify-content-center mt-5">
    <%= paginate @characters %>
  </div>
  <div class="row mt-5">
    <% @characters.each do |character| %>
      <div class="col-xl-3 col-lg-4 col-md-6 border pt-5 pb-3">
        <p>
          <img class="rounded" src=<%= "/characters/#{character.image}" %> alt="Character" width="160px" height="160px">
        </p>
        <p><%= link_to character.name, character_path(character), class: 'font-weight-bold h4' %></p>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <%= paginate @characters %>
  </div>
</div>
