<div class="text-center mb-5">
  <h1 class="h4 font-weight-bold"><%= @character.name %></h1>
  <p class="mt-5">
    <img class="rounded" src=<%= "/characters/#{@character.image}" %> alt="Main Weapon" width="160px" height="160px">
  </p>
  <div class="row mt-5">
    <table class="offset-lg-3 col-lg-6 table table-bordered">
      <tr>
        <th>合計</td>
        <th>0</td>
      </tr>
    </table>
  </div>
</div>
